.avatar{
    width:100px;
    display:block;
    margin-left: 7%;
}

li .avatar {
    width: 40px;
    height: 40px;
    border-radius: 1000px !important;

}
.liAvatar{
    margin-right: 40% !important;
}

.avatarHome{
    width: 40px;
    height: 40px;
    border-radius: 1000px !important;
    border: 2px solid black;
}

.pub_image .container-avatar img{
    float: left;
    width: 70px;
    height: 70px;
    border-radius: 1000px !important;
    margin-right: 2%;
}

.username{
    margin-top: 2%!important;
    line-height: 35px;
    font-weight: bold;
}

.uploadImg{
    object-fit: contain;
    height: 500px;
    width: 100% !important;
    background-color: #631dcccb;
   
}
.img-container{
    width: 75%px;

}

.img-container hr{
    margin: 0!important;
}

.pub_image{
     margin-bottom: 5%;
}

.pub_image .card-body{
    padding: 0px!important;
}

.pub_image .card-header{
    padding-left: 0px !important;
}
.description{
    
    padding: 5%!important;
}

.likes{
    height: 50px !important;
    width: 50px !important;

}
.container-likes-comments{
    padding: 2%!important;
}
.fecha{

    padding-left:1%!important;
}

.detailComments{
    margin-left: 5%!important;
    margin-bottom: 2%!important;
}

.pub_comment{
    padding-left: 5%!important;
    padding-right: 5%!important;
    padding-bottom: 2%!important;
}

.pub_comment button{
    margin-top: 2%!important;
}
.comment{
    margin-left: 5%!important;
    margin-right: 5%!important;
    margin-bottom: 3%;
    padding-left: 1%!important;
    border-left: 2px solid rgb(89, 49, 150);
    background-color: rgba(89, 49, 150, 0.527);
}
.comment hr {

    padding-bottom:1%;
}
.nickComment{
   
    font-weight: bold;
}
.contentNick{
    padding-top: 2%!important;
}
.contentCmt{
    padding-bottom: 2%;
}