@media all and (max-width: 991px) {
    .btnRegistro{
        margin-top:2% !important;
    }
  }

  @media all and (min-width: 991px) {
    .btnRegistro{
        margin-left:2% !important;
        margin-right:2% !important;
    }
  }
